<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing List</title>
    <style>
        .pub_list {width: 100%; box-sizing: border-box; border-top: 3px solid #000; border-collapse: collapse; font-size: 12px;}
        .pub_list tr {border-bottom: 1px solid #eee;}
        .pub_list th {padding: 10px; border-right: 1px solid #eee; font-size: 14px; font-weight: bold; text-align: center; color: #333;}
        .pub_list th:last-child {border-right: none;}
        .pub_list td {padding: 10px; border-right: 1px solid #eee; font-size: 12px; text-align: center; vertical-align: middle; color: #333;}
        .pub_list td a {color: #333;}
        .pub_list td.tit {padding-left: 10px; background: #eee; text-align: left; font-weight: bold;}
        .pub_list td.tit span {padding-left: 5px; font-weight: bold; color: #000;}
        .pub_list td.tit span:before {content: '( ';}
        .pub_list td.tit span:after {content: ' )';}
        .pub_list td:last-child {border-right: none;}
        .pub_list td.bd_r {border-right: 1px solid #eee;}
    </style>
</head>
<body>
    <h2>Publishing List</h2>
    <table cellpadding="0" cellspacing="0" class="pub_list">
        <colgroup>
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="10%">
            <col width="15%">
            <col width="*">
        </colgroup>
        <tbody>
            <tr>
                <th>1 Depth</th>
                <th>2 Depth</th>
                <th>3 Depth</th>
                <th>4 Depth</th>
                <th>5 Depth</th>
                <th>구분</th>
                <th>파일명</th>
                <th>비고</th>
            </tr>

            <!-- 메인 -->
            <tr>
                <td class="tit" colspan="9">메인 <span>main</span></td>
            </tr>
            <tr>
                <td>메인</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../main/index.html" target="_blank">main.html</a></td>
                <td>완료</td>
            </tr>

            <!-- 병원소개 -->
            <tr>
                <td class="tit" colspan="9">병원소개 <span>aboutUs</span></td>
            </tr>
            <tr>
                <td rowspan="7">병원소개</td>
                <td>미션&비젼</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/mission-vision.html" target="_blank">mission-vision.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>병원CI</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/symbol.html" target="_blank">symbol.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>병원의역사</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/history.html" target="_blank">history.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>인사말</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/greetings.html" target="_blank">greetings.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>의료진소개</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/medical-staff.html" target="_blank">medical-staff.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>찾아오시는길</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../aboutUs/ourmap.html" target="_blank">ourmap.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>층별안내</td>
                <td></td>
                <td></td>
                <td></td>
                <td>toggle 리스트</td>
                <td><a href="../aboutUs/floor.html" target="_blank">floor.html</a></td>
                <td>완료</td>
            </tr>

            <!-- 진료안내 -->
            <tr>
                <td class="tit" colspan="9">진료안내 <span>medicalGuidance</span></td>
            </tr>
            <tr>
                <td rowspan="4">진료안내</td>
                <td>병실생활안내</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../medicalGuidance/ward-room-guide.html" target="_blank">ward-room-guide.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>서류발급안내</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../medicalGuidance/document-issuance-information.html" target="_blank">document-issuance-information.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>입퇴원안내</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../medicalGuidance/admission-discharge.html" target="_blank">admission-discharge.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>진료시간표</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../medicalGuidance/timetable.html" target="_blank">timetable.html</a></td>
                <td>완료</td>
            </tr>

            <!-- 척추센터 -->
            <tr>
                <td class="tit" colspan="9">척추센터 <span>spineCenter</span></td>
            </tr>
            <tr>
                <td rowspan="2">척추센터</td>
                <td rowspan="2">허리 클리닉</td>
                <td>허리 클리닉</td>
                <td></td>
                <td></td>
                <td rowspan="2">탭 컨텐츠, 스크롤이동</td>
                <td rowspan="2"><a href="../spineCenter/waist-clinic.html" target="_blank">waist-clinic.html</a></td>
                <td rowspan="2">완료</td>
            </tr>
            <tr>
                <td>목 클리닉</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>

            <!-- 재활치료 -->
            <tr>
                <td class="tit" colspan="9">재활치료 <span>rehabilitation</span></td>
            </tr>
            <tr>
                <td rowspan="4">재활치료</td>
                <td rowspan="4">운동치료</td>
                <td>운동치료</td>
                <td></td>
                <td></td>
                <td rowspan="4">탭 컨텐츠</td>
                <td rowspan="4"><a href="../rehabilitation/gymtherapy.html" target="_blank">gymtherapy.html</a></td>
                <td rowspan="4">완료</td>
            </tr>
            <tr>
                <td>도수치료</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            <tr>
                <td>특수 물리치료</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            <tr>
                <td>체외충격파</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            
            <!-- 영상의학 -->
            <tr>
                <td class="tit" colspan="9">영상의학 <span>radiology</span></td>
            </tr>
            <tr>
                <td rowspan="5">영상의학</td>
                <td rowspan="5">초음파치료</td>
                <td>초음파치료</td>
                <td></td>
                <td></td>
                <td rowspan="5">탭 컨텐츠</td>
                <td rowspan="5"><a href="../radiology/ultrasoundtest.html" target="_blank">ultrasoundtest.html</a></td>
                <td rowspan="5">완료</td>
            </tr>
            <tr>
                <td>MRI검사</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            <tr>
                <td>질환별 MRI 사진</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            <tr>
                <td>Digital X-ray</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>
            <tr>
                <td>골밀도</td>
                <td></td>
                <td class="bd_r"></td>
            </tr>

            <!-- 커뮤니티 -->
            <tr>
                <td class="tit" colspan="9">커뮤니티 <span>community</span></td>
            </tr>
            <tr>
                <td rowspan="3">커뮤니티</td>
                <td>병원소식</td>
                <td></td>
                <td></td>
                <td></td>
                <td>리스트</td>
                <td><a href="../community/hospital-news.html" target="_blank">hospital-news.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>게시판 리스트</td>
                <td></td>
                <td></td>
                <td></td>
                <td>리스트</td>
                <td><a href="../community/board.html" target="_blank">board.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>게시판 상세</td>
                <td></td>
                <td></td>
                <td></td>
                <td>상세</td>
                <td><a href="../community/board-view.html" target="_blank">board-view.html</a></td>
                <td>완료</td>
            </tr>

            <!-- 상담예약 -->
            <tr>
                <td class="tit" colspan="9">상담예약 <span>reservation</span></td>
            </tr>
            <tr>
                <td rowspan="4">상담예약</td>
                <td>진료 예약 안내</td>
                <td></td>
                <td></td>
                <td></td>
                <td>탭 컨텐츠</td>
                <td><a href="../reservation/reservation.html" target="_blank">reservation.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>네이버 온라인 예약</td>
                <td></td>
                <td></td>
                <td></td>
                <td>탭 컨텐츠</td>
                <td><a href="../reservation/reservation_naver.html" target="_blank">reservation_naver.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>온라인 상담</td>
                <td></td>
                <td></td>
                <td></td>
                <td>탭 컨텐츠</td>
                <td><a href="../reservation/reservation_online.html" target="_blank">reservation_online.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>온라인 상담 글쓰기</td>
                <td></td>
                <td></td>
                <td></td>
                <td>작성</td>
                <td><a href="../reservation/reservation_write.html" target="_blank">reservation_write.html</a></td>
                <td>완료</td>
            </tr>
        </tbody>
    </table>
</body>
</html>