@charset "UTF-8";

/* sub common */
#content {padding-bottom: 185px;}
.dotdot1 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.dotdot2 {display: -webkit-box; line-height: 1.4; max-height: 2.8em; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

.sub_top_txt {position: relative; max-width: 960px; margin: 0 auto; padding: 90px 0 50px; border-bottom: 1px solid #48d5ec; font-size: 0; text-align: center;}
.sub_top_txt.no_line {border-bottom: 0;}
.sub_top_txt.no_line::before {display: none;}
.sub_top_txt::before {display: inline-block; content:''; position: absolute; left: 50%; bottom: -10px; width: 18px; height: 10px; margin-left: -9px; background: url('../images/common/ico_sub_top.png') no-repeat center;}
.sub_top_txt h2 {margin: 0;}
.sub_top_txt h2 .eng {display: block; font-size: 30px; font-weight: 700; color: #d3d000;}
.sub_top_txt h2 .eng::after {display: block; content:''; width: 8px; height: 9px; margin: 50px auto 30px; border-radius: 50%; background-color: #48d5ec; box-shadow: -12px 0 #48d5ec, 12px 0 #48d5ec;}
.sub_top_txt h2 .kor {display: block; font-size: 50px; font-weight: 500;}
.sub_top_txt .back_btn {position: absolute; left: 45px; top: 50%; transform: translateY(-50%);}

.btn_box {margin-top: 50px; text-align: center;}
.btn_box .more_btn {display: inline-block; width: 269px; height: 62px; line-height: 58px; border: 2px solid #d1d3d4; border-radius: 62px; font-size: 17px; color: #acacac;}


/* hospital_news_wrap */
.hospital_news_wrap {margin-top: 57px;}
.news_list > li {float: left; width: calc(33.3% - 24px); margin-right: 36px; margin-top: 100px;}
.news_list > li:nth-child(-n+3) {margin-top: 0;}
.news_list > li:nth-child(3n) {margin-right: 0;}
.news_list > li a {display: block;}
.news_list > li .img_box {padding-bottom: 68.5%; margin-bottom: 20px; border: 1px solid #f1f2f2; background-position: center; background-size: cover; background-repeat: no-repeat;}
.news_list > li .txt_box {position: relative; min-height: 185px; text-align: center;}
.news_list > li .txt_box .t1 {margin-bottom: 15px; font-size: 20px; font-weight: 500; color: #151515;}
.news_list > li .txt_box .t2 {font-size: 17px; color: #333;}
.news_list > li .txt_box .t3 {position: absolute; left: 0; bottom: 0; width: 100%; font-size: 12px; color: #acacac;}


/* board_wrap */
.board_list {table-layout: fixed; border-top: 8px solid #d3d000;}
.board_list thead {height: 117px;}
.board_list th, .board_list td {border-bottom: 1px solid #d1d3d4; vertical-align: middle; font-size: 20px; color: #363636;}
.board_list tbody td {height: 83px; text-align: center;}
.board_list tbody td.tit {text-align: left;}
.board_list tbody td.tit a {display: block;}
.pagination {margin-top: 50px; text-align: center; tab-size: 0;}
.pagination a {display: inline-block; margin: 0 10px; font-size: 17px; color: #acacac; vertical-align: middle;}
.pagination a.active {color: #363636;}
.pagination a.page_arrow {font-size: 0;}
.board_view {border-top: 8px solid #d3d000;}
.board_view .board_view_top .tit {position: relative; padding: 43px 320px 43px 135px; border-bottom: 1px solid #d1d3d4; font-size: 0;}
.board_view .board_view_top .tit::after {display: inline-block; content:''; width: 0; height: 100%; vertical-align: middle;}
.board_view .board_view_top .tit p {display: inline-block; font-size: 20px; color: #363636; vertical-align: middle;}
.board_view .board_view_top .tit .board_btn_box {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.board_view .board_view_top .info {padding: 27px 135px; border-bottom: 1px solid #d1d3d4; font-size: 0;}
.board_view .board_view_top .info .each {display: inline-block; margin-right: 60px; font-size: 20px; color: #363636; vertical-align: middle;}
.board_view .board_view_top .info .each:last-child {margin-right: 0;}
.board_view .board_view_con {padding: 43px; border-bottom: 1px solid #d1d3d4; margin-bottom: 30px;}
.board_view .board_btn_box {float: right; margin-right: 92px; font-size: 0;}
.board_view .board_btn_box a {display: inline-block; width: 98px; height: 37px; line-height: 35px; margin-right: 4px; border: 1px solid #d1d3d4; border-radius: 10px; font-size: 18px; color: #acacac; text-align: center;}
.board_view .board_btn_box a:last-child {margin-right: 0;}
.board_view .board_btn_box .list_btn {color: #fff; background-color: #acacac;}







@media screen and (max-width:1200px) {
    /* sub common */
    .sub_top_txt {height: 74px; max-width: 100%; padding: 0; border-top: 1px solid #acacac; border-bottom: 1px solid #acacac;}
    .sub_top_txt.no_line {border-bottom: 1px solid #acacac;}
    .sub_top_txt::before {display: none;}
    .sub_top_txt::after {display: inline-block; content:''; width: 0; height: 100%; vertical-align: middle;}
    .sub_top_txt h2 {display: inline-block; vertical-align: middle;}
    .sub_top_txt h2 .eng {display: none;}
    .sub_top_txt h2 .kor {font-size: 20px;}


    /* hospital_news_wrap */
    .hospital_news_wrap {padding: 0 20px;}
    .news_list > li {width: calc(50% - 14px); margin-right: 28px; margin-top: 50px;}
    .news_list > li:nth-child(-n+3) {margin-top: 50px;}
    .news_list > li:nth-child(-n+2) {margin-top: 0;}
    .news_list > li:nth-child(3n) {margin-right: 28px;}
    .news_list > li:nth-child(2n) {margin-right: 0;}
    .news_list > li .img_box {margin-bottom: 10px;}
    .news_list > li .txt_box {min-height: 130px;}
    .news_list > li .txt_box .t1 {font-size: 18px; margin-bottom: 10px;}
    .news_list > li .txt_box .t2 {font-size: 13px;}
    .news_list > li .txt_box .t3 {font-size: 10px;}


    /* board_wrap */
    .board_wrap {margin-top: -1px; position: relative;}
    .board_list {border-top-width: 18px;}
    .board_list thead {height: 90px;}
    .board_list th, .board_list td {font-size: 18px;}
    .board_view .board_view_top .tit {padding: 31px 40px;}
    .board_view .board_view_top .tit::after {display: none;}
    .board_view .board_view_top .tit p {font-size: 18px;}
    .board_view .board_view_top .tit .board_btn_box {display: none;}
    .board_view .board_view_top .info {padding: 14px 40px;}
    .board_view .board_view_top .info .each {font-size: 13px; margin-right: 40px;}
    .board_view .board_view_con {padding: 40px;}
    .board_view .board_btn_box {float: none; margin-right: 0; text-align: center;}
}

@media screen and (max-width:640px) {
    /* sub common */
    .sub_top_txt {height: 45px;}
    .sub_top_txt .back_btn {left: 25px; width: 10px;}
    .sub_top_txt h2 .kor {font-size: 15px;}

    .btn_box .more_btn {width: 180px; height: 44px; line-height: 40px; font-size: 14px;}


    /* hospital_news_wrap */
    .hospital_news_wrap {padding: 0 10px; margin-top: 40px;}
    .news_list > li {width: calc(50% - 8px); margin-right: 16px; margin-top: 30px;}
    .news_list > li:nth-child(-n+3) {margin-top: 30px;}
    .news_list > li:nth-child(-n+2) {margin-top: 0;}
    .news_list > li:nth-child(3n) {margin-right: 16px;}
    .news_list > li:nth-child(2n) {margin-right: 0;}
    .news_list > li .txt_box {min-height: 110px;}
    .news_list > li .txt_box .t1 {font-size: 15px;}
    .news_list > li .txt_box .t1 br {display: none;}
    .news_list > li .txt_box .t2 {font-size: 12px;}
    .news_list > li .txt_box .t2 br {display: none;}

    
    /* board_wrap */
    .board_list {border-top-width: 10px;}
    .board_list thead {height: 60px;}
    .board_list tbody td {height: 50px;}
    .board_list th, .board_list td {font-size: 14px;}
    .pagination {margin-top: 30px;}
    .pagination a {font-size: 14px; margin: 0 6px;}
    .pagination a.page_arrow {width: 10px;}
    .board_view .board_view_top .tit {padding: 29px 20px;}
    .board_view .board_view_top .tit p {font-size: 15px;}
    .board_view .board_view_top .info {padding: 10px 20px;}
    .board_view .board_view_con {padding: 20px;}
    .board_view .board_btn_box a {width: 80px; height: 32px; line-height: 30px; border-radius: 7px; font-size: 14px;}
}

@media screen and (max-width:480px) {

}